extends baseEmail

block content
  p Hi #{firstName},
  p Thank you for your interest in Ecommerce.
  p Please confirm your registration.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Confirm Registration
  p If you need any help feel free to contact us by email
  p - olegs777@gmail.com

