.admin {
  &__navigation {
    padding: 2rem;
    background-color: $color-blue-light;

    &-list {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
    &-item {
    }
    &-link {
      text-decoration: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $color-grey;
      &:hover {
        color: #f4e4c5;
      }
    }
  }
}
///////////////////////////////////////////////
// CATEGORY
.category {
  height: 100vh;
  border: 1px solid black;
  text-align: center;
  max-width: 120rem;
  margin: 2rem auto;
  background-color: $color-grey;
  &__container {
    display: flex;
  }
  &__btn-group {
    display: flex;
    justify-content: space-around;
  }

  &__list-box {
    padding: 2rem 4rem;
    display: inline-block;
    width: 100%;
    border: 1px solid black;
  }
  &__form-box {
    padding: 2rem 4rem;
    display: inline-block;
    width: 100%;
    border: 1px solid black;
  }

  &__list {
    list-style: none;
  }
  &__item {
    border-bottom: 0.1px solid black;
    padding: 1rem 0;
    text-align: left;
  }
  &__link {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
