// PULSATING LINE ON CONFIRMATOIN PAGE
@keyframes pulsate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

//ROTATING SPINNER
@keyframes rotate-spinner {
  // 0% {
  //   transform: rotate(0deg);
  //   opacity: 1;
  // }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
//btn-link arrow pulsating
@keyframes arrow-pulsate-left {
  0% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}
