// PULSATING LINE ON CONFIRMATOIN PAGE
@keyframes pulsate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

//SLIDING DOWN DROP-MENU
@keyframes drop-menu {
  0% {
    transform: translate(2rem, -5rem);
  }
  100% {
    transform: translate(2rem, 2rem);
  }
}
