// PULSATING LINE ON CONFIRMATOIN PAGE
@keyframes pulsate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

//SLIDING DOWN DROP-MENU
@keyframes drop-menu {
  0% {
    transform: translate(-1rem, 6rem);
  }

  100% {
    transform: translate(-1rem, 7.7rem);
  }
}

//ROTATING SPINNER
@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
