.register {
  background-color: $color-grey;
  padding: 4rem 0;
  height: 100vh;
  color: $color-grey;
  &__container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    background-color: $color-blue-light;
    border-radius: 3px;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 400;
  }

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn-auth {
  margin-top: 1rem;
}
