.register {
  background-color: $color-grey;
  padding: 4rem 0;
  height: 100vh;
  color: $color-grey;
  &__container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    background-color: $color-blue-light;
    border-radius: 3px;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 400;
  }
  &__form {
    padding: 4rem;

    &-group {
      margin-bottom: 1rem;
    }
    &-label--name {
      font-size: 1.2rem;
      text-transform: uppercase;
      text-align: left;
    }

    &-input {
      width: 100%;
      padding: 12px 2rem;
      margin: 0.8rem 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 0.4rem;
      outline: none;
      border-bottom: 3px solid transparent;
      &:focus {
        border-bottom: 3px solid $color-valid;
      }
      &:focus:invalid {
        border-bottom: 3px solid $color-red;
      }
    }
    &-google-btn {
      display: flex;
      margin: 0 auto;
      align-items: center;
      background-color: $color-red !important;
    }
  }
}

.btn-auth {
  margin-top: 1rem;
}

// input[type='text'],
// select {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
// }
