.breadcrumbs {
  border-bottom: 0.3px solid $color-grey-light-2;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-black;
    &:hover {
      &:not(:last-child) {
        text-decoration: underline;
      }
    }
  }
}
