.btn {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  background-color: $color-blue;
  border-radius: 3px;
  color: $color-grey;
  transition: 0.2s;
  &:hover {
    transform: translateY(-0.1rem);
    box-shadow: $box-shadow-big;
  }
  &:active {
    outline: none;
    transform: translateY(0);
    box-shadow: $box-shadow-small;
    border: none;
  }
  &:focus {
    outline: none;
    border: none;
  }
  &-grey {
    background-color: $color-grey-dark;
  }
  &-warning {
    background-color: $color-orange;
  }
  &-delete {
    background-color: $color-red;
  }
}

.btn-link {
  text-decoration: none;
  border-bottom: 2px solid $color-valid;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 16rem;
  transition: 0.2s;
  &__block {
    height: 4.2rem;
  }

  &__text {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-valid;
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-valid;
  }
  &:hover {
    padding-bottom: 1rem;
    transform: scale(1.01);
    // animation: arrow-pulsate-left 0.2s infinite;
  }
  &:hover &__icon {
    animation: arrow-pulsate-left 1s cubic-bezier(0.6, -0.28, 0.74, 0.05)
      infinite;
  }
}

.form {
  padding: 4rem;

  &-group {
    margin-bottom: 1rem;
    height: 9.2rem;
    &__radio {
      border: 1px solid $color-grey-dark;
      border-radius: 3px;
      height: 4.7rem;
      background-color: #fff;
      margin: 8px 0;
      &-label {
        margin-right: 2rem;
      }
    }
  }
  &-label--name {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: left;
  }

  &-input {
    color: $color-grey-dark;
    width: 100%;
    padding: 1.2rem 2rem;
    margin: 0.8rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    outline: none;
    // border-bottom: 3px solid transparent;
    // &:focus {
    //   border-bottom: 3px solid $color-valid;
    // }
    // &:focus:invalid {
    //   border-bottom: 3px solid $color-red;
    // }

    &__error {
      margin-top: -0.5rem;
      // background-color: #fff;
      border-radius: 3px;

      &--text {
        color: $color-red;
        font-size: 1.2rem;
      }
    }
    &--invalid {
      border: 2px solid $color-red;
      background-color: $color-red-light;
    }
  }
}
input[type='radio' i] {
  background-color: initial;
  cursor: default;
  appearance: radio;
  box-sizing: border-box;
  margin: 10px 3px 0px 5px;
  padding: initial;
  border: initial;
}

.error {
  background-color: $color-red;
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  text-align: center;
  &--text {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-grey;
  }
}

.message {
  background-color: $color-valid;
  // width: 60%;
  margin: 1rem auto;
  padding: 2rem 3rem;
  text-align: center;
  &--text {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
  }
}
.sweet-loading {
  margin: auto auto;
  display: inline-block;
}

// MARGINS
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-lg {
  margin-bottom: 6rem;
}
.mb-xlg {
  margin-bottom: 8rem;
}

// OVERLAY WHILE DRAWER OUT
.overlay {
  display: block;
  position: fixed;
  z-index: 7779;
  top: 0;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;

  &--visible {
    opacity: 0.25;
    pointer-events: all;
  }
}
.icon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
