.dashboard {
  min-height: 100vh;
  &__wrapper {
    display: grid;
    grid-template-columns: 20rem 1fr 50rem;
  }
  &__nav {
    &__list {
      //   border: 1px solid black;
      height: 100%;
      //   background-color: $color-black;
    }
    &__item {
      display: flex;
      justify-content: center;
      padding: 0.5rem 1rem;
      margin-bottom: 0.3rem;
      background-color: $color-grey;
      border: 1px solid $color-grey-light-3;
      border-radius: 5px;
      &:hover {
        background-color: $color-grey-light-2;
      }
    }
    &__link {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-black;
    }
  }

  // DASHBORD MODAL
  &__modal {
    &__list {
      list-style: none;
      width: 70%;
    }
    &__item {
      border: 1px solid $color-grey;
      display: flex;
      justify-content: space-between;
      padding: 1rem 3rem;
      margin: 0.5rem 0;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background-color: $color-grey-light-3;
      }
    }
    &--order {
      font-size: 1.6rem;
      font-weight: 700;
    }
    &--order-date {
      font-size: 1.6rem;
    }
  }

  //ORDER IN DASHBOARD
  &__order {
    &__details {
      border: 1px solid black;
      padding: 0 3rem;

      &__block {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
