.drawer {
  background-color: #fff;
  min-height: 150vh;
  position: absolute;
  z-index: 8000;
  visibility: hidden;
  transform: translateX(-470px);
  transition: 0.2s;
  width: 30rem;
  right: auto;

  &--open {
    visibility: visible;
    transform: translateX(0);
  }

  &__header {
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  &__container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
  }
}
