.home {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-column-gap: 2rem;
  margin-top: 5rem;
  @media only screen and (max-width: $lg-bp) {
    grid-template-columns: 1fr;
  }

  &__container {
    grid-column: 2/-1;
    min-height: 100vh;
    background-color: lightblue;
    @media only screen and (max-width: $lg-bp) {
      grid-column: 1;
    }
  }
}
