.home {
  max-width: 180rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-column-gap: 2rem;

  @media only screen and (max-width: $lg-bp) {
    grid-template-columns: 1fr;
  }

  &__container {
    grid-column: 2/-1;
    min-height: 100vh;
    // background-color: lightblue;
    padding: 4rem 1rem;

    @media only screen and (max-width: $lg-bp) {
      grid-column: 1;
    }

    &__main {
      background-color: lightblue;
      height: 100vh;
    }

    // SECTIONS
    &__1 {
      &-block {
        display: flex;
        &-L,
        &-M,
        &-R {
          width: 100%;
          position: relative;

          background-color: #fff;
          &--img {
            width: 100%;
            margin-bottom: -0.5rem;
          }
        }
        // CAPTION
        &-caption {
          position: absolute;
          transform: translateY(-8rem);
          padding: 0 2rem;
          width: 100%;
          background-image: linear-gradient(
            0deg,
            rgba($color-grey-dark, 1) 10%,
            rgba($color-grey-dark, 0.5) 10%,
            rgba($color-grey-dark, 0.5) 90%,
            rgba($color-grey-dark, 1) 10%
          );

          &--title {
            font-size: 3rem;
          }
          &--desc {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
