.nav {
  //   background-color: lightblue;
  border-bottom: 0.3px solid $color-grey;
  padding: 2rem 4rem;
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 7rem;
    padding: 0 5rem;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__auth-box {
    // border: 1px solid black;
    display: flex;
    align-items: center;
  }
  &__auth--name {
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__img-box {
    width: 8rem;
    clip-path: circle(40%);
  }
  &__img {
    width: 100%;
    display: block;
  }
  &__user,
  &__auth {
    display: flex;
    align-items: center;
  }

  &__link:link,
  &__link:visited {
    margin-right: 5rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    &:hover {
      color: lightblue;
    }
  }
}
