.nav {
  padding: 2rem;
  color: $color-black;
  height: 11rem;
  border-bottom: 0.5px solid #eee;
  position: relative;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 7rem;
    padding: 0 1rem;
  }

  &__user,
  &__auth {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-box {
      // border: 1px solid black;
      display: flex;
      align-items: center;
    }
    &--name {
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }

  &__item {
    margin-right: 5rem;
    cursor: pointer;

    &-group {
      display: flex;
      align-items: center;
      margin-right: 3rem;
    }
    &--menu {
      cursor: pointer;
    }
  }

  &__img-box {
    width: 8rem;
    clip-path: circle(40%);
  }
  &__img {
    width: 100%;
    display: block;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    color: $color-black;
    display: flex;
  }
}
.nav__link-icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: currentColor;

  &-box {
    // border: 1px solid black;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #eee;
    }

    &--selected {
      border: 1px solid $color-blue;
    }
  }
}
