.order {
  background-color: $color-grey;
  border-bottom: 1px solid black;

  &__header {
    // background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__edit {
      font-size: 1.6rem;
    }
  }

  &__wrapper {
    display: flex;
  }
  &__buyer {
    width: 100%;
    // background-color: lightblue;

    &__address-heading {
      display: flex;
      justify-content: center;
    }

    &__address {
      display: flex;
      flex-direction: column;
      padding: 2rem 4rem;

      &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        &__phone {
          width: 100% !important;
        }

        &__gap {
          width: 1rem;
        }
        &__select-wrapper {
          width: 100%;
        }
        &__phone-wrapper {
          width: 50%;
        }
      }
    }
  }
  &__cart {
    width: 100%;
    padding: 3rem;
  }
}
