.order {
  background-color: $color-grey;
  border-bottom: 1px solid black;

  &__header {
    // background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__edit {
      font-size: 1.6rem;
    }
  }

  &__wrapper {
    display: flex;
  }
  &__buyer {
    width: 100%;
    // background-color: lightblue;

    &__address-heading {
      display: flex;
      justify-content: space-around;
      &--icon {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    &__address {
      display: flex;
      flex-direction: column;
      padding: 2rem 4rem;

      &__row {
        display: flex;
        align-items: center;

        &__phone {
          width: 100% !important;
          height: 4rem !important;

          &--lable {
            font-size: 1.2rem;
            text-transform: uppercase;
            margin: 0 0 0.6rem 1rem;
            font-weight: 700;

            &-icon {
              font-size: 1.6rem;
              margin-left: 3px;
            }
          }
        }

        &__gap {
          width: 1rem;
        }
        &__wrapper {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__cart {
    width: 100%;
    padding: 3rem;
  }
}
