.profile {
  text-align: center;
  padding: 4rem 0;

  &__heading {
    font-weight: 400;
    font-family: italic;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__card-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 4rem;

    &-lable {
      font-size: 1.6rem;
      border-bottom: 0.3px solid $color-grey-light;
      display: inline-block;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
    &--image {
      width: 100%;
      clip-path: circle(35%);
    }

    &-elem {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__image-block {
    // border: 1px solid black;

    &--btn-group {
      // border: 1px solid black;
      padding: 2rem 0;
      display: flex;
      justify-content: space-evenly;
    }

    &--btn-edit {
      margin-right: 3px;
    }
  }
  // UploadAvatar Component

  &__avatar {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 4rem;
    margin-top: 1rem;
    flex-direction: column;
    opacity: 1;
    transition: 0.2s;

    &-container {
      display: flex;
      flex-direction: column;

      &--preview {
        padding: 2rem;
      }

      &--preview-img {
        width: 100%;
      }
    }

    &-form {
      margin: 3rem 0;
      &--message {
        font-size: 1.8rem;
        text-transform: uppercase;
        background-color: rgb(179, 248, 179);
        padding: 1rem 2rem;
        align-self: center;
      }
    }
    &--hide {
      opacity: 0;
    }
  }

  &__error {
    background-color: rgb(248, 217, 210);
    width: 60%;
    margin: 1rem auto;
    padding: 2rem 0;
    &--text {
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
}

.loading {
  margin-top: 10rem;
}
