.product {
  height: 100vh;
  padding: 4rem;
  text-align: center;
  max-width: 120rem;
  margin: 0 auto;

  &__form {
    background-color: $color-yellow;
    padding: 3rem 1rem;
  }

  &__cta {
    &-control {
      display: flex;
      justify-content: flex-end;
    }

    &-btn {
      display: flex;
      align-items: center;
      width: 20rem;
    }
    &-icon {
      fill: #fff;
      margin-right: 1rem;
    }
  }
}
