.pub-category {
  max-width: 180rem;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-column-gap: 2rem;

  @media only screen and (max-width: $lg-bp) {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  &__container {
    grid-column: 2/-1;
    min-height: 100vh;
    padding: 4rem 0;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $lg-bp) {
      grid-column: 1;
      padding: 4rem 0;
    }
  }

  &__heading {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    justify-items: center;
  }

  &__card {
    background-color: #eee;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    &--img {
      width: 100%;
      height: 100%;

      position: absolute;
      overflow: hidden;
      filter: brightness(0.6) blur(1px);
    }
    &--name {
      font-size: 2rem;
      font-weight: 700;
      color: $color-grey-light;
      position: absolute;
      transform: translateY(-4rem);
      text-transform: uppercase;
    }
  }

  // EDIT CategorySingle

  &__wrapper {
    // background-color: $color-grey-light-2;

    &__description {
      width: 60%;
      &--text {
        font-size: 1.6rem;
      }
    }

    &__sublist {
      // background-color: $color-yellow;
      padding: 5rem 0;
      &--block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;
        justify-items: center;
      }
      &--card {
        background-color: $color-grey;
        padding: 1rem 2rem;
        border-radius: 3rem;
      }
      &--item {
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-black;
      }
    }
  }
}
