.pub-category {
  max-width: 180rem;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-column-gap: 2rem;

  @media only screen and (max-width: $lg-bp) {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  &__container {
    grid-column: 2/-1;
    min-height: 100vh;
    padding: 4rem 0;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $lg-bp) {
      grid-column: 1;
      padding: 4rem 0;
    }
  }

  &__heading {
    display: inline-block;
    margin: 0 auto;
  }

  &__list {
    background-color: lightblue;
  }
}
