.pub-product {
  max-width: 180rem;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-column-gap: 2rem;

  @media only screen and (max-width: $lg-bp) {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  &__container {
    grid-column: 2/-1;
    min-height: 100vh;
    padding: 4rem 0;

    @media only screen and (max-width: $lg-bp) {
      grid-column: 1;
      padding: 4rem 0;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__gallery {
    grid-column: 1/3;
    &__block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 25vw;
      grid-gap: 2rem;
    }

    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__details {
    background-color: lightblue;
    grid-column: 3;
    padding: 0 3rem;
  }
}
