.heading-1 {
  font-size: 4rem;
  font-weight: 300;
  font-family: $font-primary;
}
.heading-2 {
  font-size: 3rem;
  font-weight: 300;
  font-family: $font-primary;
}
.heading-3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: $font-primary;
}
